

.feher {
    background-color: white;
}

.szurke { 
    background-color: rgb(204, 204, 204);
}

table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 90vw;
    max-width: 480px;
}

td {
    width: 12.5%;
    height: 50px;
    aspect-ratio: 1 / 1; 
    text-align: center;
    vertical-align: middle;
    border: 1px solid #333;
    font-size: 1.2rem;
}

img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

th {
    background-color: gray;
    color: wheat;
}

body {
    background-color: rgb(245, 245, 206);
}